.TodoList {
    width: 60%;
    text-align: center;
    padding: 3% 0;
    margin: 20% auto;
    background-color: rgb(221, 94, 90);
    color: white;

}

.TodoList-header {
    width: 90%;
    margin-left: 10%;
    margin-bottom: 10%;
    text-align: left;
    line-height: 10px;
    border-bottom: 1px solid white;
}