.TodoForm h2{
    text-align: left;
    margin-left: 30px;
}
.TodoForm-container {
    display: flex;
    width: 80%;
    margin: 0 auto;
}

.TodoForm-container input {
    border: 0;
    padding: 15px 10px;
}

.TodoForm-container button {
    color: white;
    width: 100px;
    cursor: pointer;
    border: 1px solid white;
    background-color: transparent;
    margin-left: 5px;

}