.Cell {
  height: 100px;
  width: 100px;
  cursor: pointer;
  background-color: rgb(2, 0, 116);
}
.Cell:hover{
  opacity: .6;
}

.Cell-lit {
  transition: .75s;
  background-color: rgb(255, 234, 46);
}