.Vote {
    display: flex;
    align-items: center;
}

.Vote-round {
    
    display: flex;
    align-items: center;
    justify-content: center;
    width: 5px;
    height: 5px; 
    color: gray;
    box-shadow: 1px 3px 10px rgba(0, 0, 0, 0.166);
    border: 2px solid;
    padding: 13px;
    border-radius: 90%;
}

.Vote-button {
    border: none;
    background-color: inherit;
    cursor: pointer;
    color: lightgray;
    font-size: 20px;
}
